.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/public/bg.jpg');
  height: 100vh;
}

#top {
  font-size: 27px;
  margin: 20px 0;
  color: black;
}
h1 {
  font-size: 27px;
  margin: 20px 0;
  color: #4c4e4b;
}
